{% extends 'base.html.twig' %}

{% block title %}{{ 'order.new'|trans }}{% endblock %}

{% block body %}
<div class="container mt-4 mb-5">
    <h1 class="mb-4"><i class="bi bi-plus-circle"></i> {{ 'order.new'|trans }}</h1>

    {% include 'bon_commande/_form.html.twig' with {
        form: form,
        button_label: 'order.new'|trans
    } %}
</div>
{% endblock %}
