{% extends 'base.html.twig' %}

{% block title %}Modifier rôle{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="h3 mb-3"><i class="bi bi-pencil-square"></i> Modifier {{ roleEntity.name }}</h1>
    <div class="card">
        <div class="card-body">
            {% include 'admin/role/_form.html.twig' with {form: form, button_label: 'Mettre à jour'} %}
        </div>
    </div>
</div>
{% endblock %}
